## Preprocessing

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [8]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
cutoff_value = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[
    application_df['CLASSIFICATION'].value_counts() >1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [26]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
cutoff_value = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [60]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [78]:
categorical_columns = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 
                       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [79]:
# Convert categorical data to numeric with `pd.get_dummies`
application_encoded = pd.get_dummies(application_df, columns=categorical_columns, drop_first=True)

In [80]:
application_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ASK_AMT                    34299 non-null  int64
 1   IS_SUCCESSFUL              34299 non-null  int64
 2   APPLICATION_TYPE_T10       34299 non-null  bool
 3   APPLICATION_TYPE_T19       34299 non-null  bool
 4   APPLICATION_TYPE_T3        34299 non-null  bool
 5   APPLICATION_TYPE_T4        34299 non-null  bool
 6   APPLICATION_TYPE_T5        34299 non-null  bool
 7   APPLICATION_TYPE_T6        34299 non-null  bool
 8   APPLICATION_TYPE_T7        34299 non-null  bool
 9   APPLICATION_TYPE_T8        34299 non-null  bool
 10  AFFILIATION_Family/Parent  34299 non-null  bool
 11  AFFILIATION_Independent    34299 non-null  bool
 12  AFFILIATION_National       34299 non-null  bool
 13  AFFILIATION_Other          34299 non-null  bool
 14  AFFILIATION_Regional       34299 non-null  bool
 15  CLASSIFICATION_C1200       34299 non-null  bool
 16  CLASSIFICATION_C2000       34299 non-null  bool
 17  CLASSIFICATION_C2100       34299 non-null  bool
 18  CLASSIFICATION_C3000       34299 non-null  bool
 19  CLASSIFICATION_Other       34299 non-null  bool
 20  USE_CASE_Heathcare         34299 non-null  bool
 21  USE_CASE_Other             34299 non-null  bool
 22  USE_CASE_Preservation      34299 non-null  bool
 23  USE_CASE_ProductDev        34299 non-null  bool
 24  ORGANIZATION_Co-operative  34299 non-null  bool
 25  ORGANIZATION_Corporation   34299 non-null  bool
 26  ORGANIZATION_Trust         34299 non-null  bool
 27  STATUS_1                   34299 non-null  bool
 28  INCOME_AMT_1-9999          34299 non-null  bool
 29  INCOME_AMT_10000-24999     34299 non-null  bool
 30  INCOME_AMT_100000-499999   34299 non-null  bool
 31  INCOME_AMT_10M-50M         34299 non-null  bool
 32  INCOME_AMT_1M-5M           34299 non-null  bool
 33  INCOME_AMT_25000-99999     34299 non-null  bool
 34  INCOME_AMT_50M+            34299 non-null  bool
 35  INCOME_AMT_5M-10M          34299 non-null  bool
 36  SPECIAL_CONSIDERATIONS_Y   34299 non-null  bool
dtypes: bool(35), int64(2)
memory usage: 1.7 MB

In [81]:
# Define the target column
target_column = 'IS_SUCCESSFUL'
# Split our preprocessed data into our features and target arrays
X = application_encoded.drop(columns=[target_column])  # Drop the target column from features
y = application_encoded[target_column]
#X = application_encoded.drop('IS_SUCCESSFUL', axis=1)
#y = application_encoded['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [82]:
# check non-numerical values
print(X.dtypes)

ASK_AMT                      int64
APPLICATION_TYPE_T10          bool
APPLICATION_TYPE_T19          bool
APPLICATION_TYPE_T3           bool
APPLICATION_TYPE_T4           bool
APPLICATION_TYPE_T5           bool
APPLICATION_TYPE_T6           bool
APPLICATION_TYPE_T7           bool
APPLICATION_TYPE_T8           bool
AFFILIATION_Family/Parent     bool
AFFILIATION_Independent       bool
AFFILIATION_National          bool
AFFILIATION_Other             bool
AFFILIATION_Regional          bool
CLASSIFICATION_C1200          bool
CLASSIFICATION_C2000          bool
CLASSIFICATION_C2100          bool
CLASSIFICATION_C3000          bool
CLASSIFICATION_Other          bool
USE_CASE_Heathcare            bool
USE_CASE_Other                bool
USE_CASE_Preservation         bool
USE_CASE_ProductDev           bool
ORGANIZATION_Co-operative     bool
ORGANIZATION_Corporation      bool
ORGANIZATION_Trust            bool
STATUS_1                      bool
INCOME_AMT_1-9999             bool
INCOME_AMT_10000-24999        bool
INCOME_AMT_100000-499999      bool
INCOME_AMT_10M-50M            bool
INCOME_AMT_1M-5M              bool
INCOME_AMT_25000-99999        bool
INCOME_AMT_50M+               bool
INCOME_AMT_5M-10M             bool
SPECIAL_CONSIDERATIONS_Y      bool
dtype: object

In [ ]:
#non_numeric_columns = X.select_dtypes(include=['object']).columns
#print("Non-numeric columns:", non_numeric_columns)

In [ ]:
#X = pd.get_dummies(X, columns=non_numeric_columns, drop_first=True)

#print(X.dtypes)

In [83]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [88]:
input_features = application_encoded.shape[1]
print(f"# of features: {input_features}")

# of features: 37

In [91]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Determine the number of input features
input_features = application_encoded.shape[1]  # Number of columns in the encoded DataFrame

nn = tf.keras.models.Sequential()

# First hidden layer
#nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=52))
nn.add(tf.keras.layers.Dense(units=80, input_dim=input_features, activation='relu'))

# Second hidden layer
#model.add(Dense(units=30, activation='relu'))
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
#model.add(Dense(units=1, activation='sigmoid'))
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 80)             │         3,040 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,501 (21.49 KB)

 Trainable params: 5,501 (21.49 KB)

 Non-trainable params: 0 (0.00 B)

In [102]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [103]:
X = X.astype(float)
y = y.astype(int)

In [104]:
import numpy as np

X = np.array(X).astype(np.float32)  # Convert features to float32
y = np.array(y).astype(np.int64)   # Convert target to int64

In [106]:
print(X.shape, y.shape)

(34299, 36) (34299,)

In [107]:
print(X.head())  # Check the feature data
print(y.head())  # Check the target data
print(type(X))   # Check the type of X (should be a NumPy array or DataFrame)
print(type(y))

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [105]:
# Train the model
history = nn.fit(
    X_train, y_train,               # Training data
    epochs=100,                     # Number of epochs
    batch_size=32,                  # Size of each training batch
    validation_data=(X_test, y_test)  # Validation data for evaluation
)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE